<div id="<%= dom_id articulo %>">
  <p>
    <strong>Titulo:</strong>
    <%= articulo.titulo %>
  </p>

  <p>
    <strong>Contenido:</strong>
    <%= articulo.contenido %>
  </p>

  <p>
    <strong>Publicado:</strong>
    <%= articulo.publicado %>
  </p>

</div>
